[Unit]
Description=Healthchecks server
After=syslog.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/home/pi/.virtualenvs/healthchecks/bin/uwsgi --http :8000 --module hc.wsgi:application --check-static /home/pi/code/healthchecks/
User=pi
Group=pi
WorkingDirectory=/home/pi/code/healthchecks
Restart=always
